# Ignore git
.git

# Node
node_modules
**/node_modules

# Python
__pycache__
*.pyc
*.pyo
*.pyd
*.swp

# Virtual envs
venv/
.env
.venv/

# Build artifacts
dist
frontend/dist

# Local files
*.sqlite3
/media

# Docker files
Dockerfile*
docker-compose*.yml

